.album-page {
    .albums {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .album {
      width: 30%;
      margin-bottom: 20px;
      cursor: pointer;
      text-align: center;
    }
    .album img {
      width: 100px;
      height: 100px;
      border-radius: 8px;
    }
  }
  