.album-details {
    background-color: #292929; // Dark background color
    color: #ffffff; // Text color
    padding: 20px;
  
    .album-header {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      h1 {
        font-size: 24px;
        margin: 0;
        font-weight: bold; // Make the title bold
      }
    }
  
    .song-list {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
  
        li {
          margin-bottom: 10px;
  
          .song-details {
            display: flex;
            align-items: center;
  
            .song-info {
              flex: 1;
  
              .song-property {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
  
                .property-label {
                  font-weight: bold; // Make the property label bold
                  margin-right: 10px;
                }
  
                .property-value {
                  color: #cccccc; // Lighter color for property value
                }
              }
            }
          }
        }
      }
    }
  }
  