<div class="home">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <button (click)="goToAlbums()">Albums</button>
      </div>
      <div class="col-md-4 col-sm-6">
        <button class="large-button">Artist</button>
      </div>
      <div class="col-md-4 col-sm-6">
        <button class="large-button">Genre</button>
      </div>
      <div class="col-md-4 col-sm-6">
        <button class="large-button">Playlist</button>
      </div>
      <div class="col-md-4 col-sm-6">
        <button class="large-button">Tracks</button>
      </div>
    </div>
    <button class="search-button">Search</button>
  </div>
  